.project-wrapper {
    display: flex;
    align-items: center;

    &--card {
        padding: 60px;
        flex-basis: 60%;
    }

    &--image {
        height: 100%;
        max-width: 550px;
        flex-basis: 70%;
        z-index: 5;
    }

    &.left {
        .project-wrapper {
            &--card {
                padding-right: 100px;
            }

            &--image {
                margin-left: -70px;


            }
        }
    }

    &.right {
        flex-direction: row-reverse;

        .project-wrapper {
            &--card {
                padding-left: 100px;
                text-align: right;

                .project--actions {
                    // display: flex;
                    flex-direction: row-reverse;
                }
            }

            &--image {
                margin-right: -100px;
                z-index: 5;

            }

        }
    }
}

.project {
    &--title {
        font-size: 60px;
        font-family: 'Maven Pro';
        font-weight: 900;
        margin: 0;
    }

    &--stack {
        text-transform: uppercase;
        font-family: 'Maven Pro';
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.2ch;
    }

    &--description {
        margin-bottom: 16px;
    }

    &--actions {
        display: flex;
        gap: 16px;
        align-items: center;

        a {
            &:hover svg path {
                fill: #7871F5;
            }

            &>div {
                width: 2.3em;
                height: 2.3em;
            }
        }

    }
}