$anim-duration: 300ms;
$header-width: 500px;
$accent-color: #AE8CFA;

@mixin scaleDownAnim($delay) {
    animation: scale-down $anim-duration;
    animation-fill-mode: both;
    animation-delay: $delay;
}

.animationWrapper {
    margin-right: 128px;
    min-height: 550px;

}

.header {
    display: flex;
    justify-content: space-around;
    width: $header-width;
    margin-bottom: 1vh;
}

.card {
    border-radius: 8px;
    border: 0.5px solid #ffffff50;
    background: #29292940;
}

.createWrapper {
    position: relative;
    height: 300px;
    width: $header-width;
    animation: desing-animation 4s;
    animation-fill-mode: both;
}

.createComponent {
    &Header {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 16px;
        box-sizing: border-box;
        height: 64px;
        width: calc(100% - 16px);
        @include scaleDownAnim(1s);
    }

    &Content {
        position: absolute;
        display: flex;
        gap: 8px;
        height: calc(300px - 64px - 32px);
        bottom: 16px;
        left: 8px;
        width: calc(100% - 16px);
    }

    &Link {
        margin-bottom: 8px;
        height: 63px;
        width: 150px;

        @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
                @include scaleDownAnim(#{(($i+1)*128)+1200}ms)
            }
        }
    }

    &Page {
        height: 100%;
        width: 100%;
        @include scaleDownAnim(2.0s)
    }

}

.code {
    &Wrapper {
        margin-top: 64px;
        animation: type-show 4s;
        animation-fill-mode: both;

    }

    &Base {
        letter-spacing: .15em;
    }

    &Type {
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid $accent-color;
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typing 2.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}

.deploy {
    &Wrapper {
        margin-top: 64px;
        width: $header-width;
        display: flex;
        justify-content: center;
    }
}



@keyframes scale-down {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes desing-animation {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    5% {
        opacity: 1;
        transform: scale(1.0);
    }

    95% {
        opacity: 1;
        transform: scale(1.0);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}




@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1.0);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
        display: none;
    }
}

@keyframes type-show {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    5% {
        opacity: 1;
        transform: scale(1);
    }

    95% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.loader {
    position: relative;
    margin: 16px;
    width: 125px;
    height: 125px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 $accent-color inset;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes deployed {
    0% {
        opacity: 0;
        transform: scale(0.8)
    }

    4% {
        opacity: 1;
        transform: scale(1.1)
    }

    5% {
        opacity: 1;
        transform: scale(1.0)
    }

    90% {
        opacity: 1;
        transform: scale(1.0)
    }

    100% {
        opacity: 0;
        transform: scale(0.8)
    }
}

.loaderFinished {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: $accent-color;
    animation: deployed 2.5s infinite;
    animation-fill-mode: both;

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}