@use './theme/gamification' as theme;
@import './mixins/_mixins';
@import './mixins/animations';


@font-face {
  font-family: "LexendDeca";
  src: url("../../fonts/lexend-deca/LexendDeca.ttf");
}

@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/maven-pro/MavenPro.ttf");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  overflow-y: clip;
}

.active {
  color: theme.$primary-color-50;
}

body {
  color: theme.$white-color;
  font-family: theme.$font-family-base;
  font-size: theme.$font-size-base;
  font-weight: 300;
  background: linear-gradient(90deg,
      theme.$background-color-40 0%,
      theme.$background-color-50 100%);
}

p {
  margin: 0;
  line-height: 1.33em;
}

h1,
h2,
h3 {
  color: theme.$primary-color-50;
  font-family: "Maven Pro";
  font-weight: 900;
  margin: 0;
}

h1 {
  font-size: theme.$font-size-h1;
}

h2 {
  font-size: theme.$font-size-h2;
}

h3 {
  font-size: theme.$font-size-h3;
}

.btn,
button {
  background: none;
  text-decoration: none;
  font-size: theme.$font-size-h4;
  font-family: theme.$font-family-title;
  line-height: theme.$font-size-h4;
  font-weight: 600;
  color: theme.$primary-color-50;
  border: solid theme.$primary-color-50 1px;
  border-radius: 8px;
  padding: 16px 32px;

  &:hover {
    cursor: pointer;
    background: linear-gradient(110deg,
        theme.$primary-color-40 0%,
        theme.$primary-color-50 100%);
    color: theme.$white-color;

  }
}

.btn-small {
  font-size: theme.$font-size-base;
  padding: 8px 16px;
}

.btn-text {
  font-size: theme.$font-size-base;
  padding: 0;
  border: none;

  &:hover {
    background: none;
    text-decoration: underline
  }
}

.card {
  background-color: #29292940;
  border: 1px solid #E1E1E127;
  padding: 8px 16px;
  border-radius: 8px;

  &.hover {
    position: relative;
    z-index: 2;
    overflow: hidden;
    border: 1px solid #E1E1E137;
    background-color: #29292930;


    .hover-light {
      position: absolute;
      width: 64px;
      height: 64px;
      margin-left: -32px;
      margin-top: -32px;
      top: var(--y);
      left: var(--x);
      background-color: theme.$white-color;
      border-radius: 300px;
      filter: blur(100px);
      z-index: -1;
    }
  }

}

.spacer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.content-section {
  margin: 0 10vw;
  min-height: 50vh;
  padding-bottom: 10vh;

  h2 {
    margin-bottom: 5vh;
  }
}

.text-right {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-section {
  margin-left: 64px;
  padding: 10px 0;
  padding-bottom: 8vh;
  @include decorativeBar(theme.$primary-color-50);

  &:nth-of-type(2) {
    @include decorativeBar(theme.$secondary-color-50);
  }

  &:nth-of-type(3) {
    @include decorativeBar(theme.$primary-color-40);
  }

  &.end {
    position: relative;
    @include decorativeBar(theme.$secondary-color-50);
    border-left: unset;

    &::before {
      position: absolute;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 50%;
      border: unset;
      border-left: 2px solid theme.$secondary-color-50;
      border-radius: unset;
      transform: unset;
      width: unset;
      z-index: 1;
    }
  }

  &.start {
    position: relative;
    border-left: unset;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 30%;
      border: unset;
      border-left: 2px solid theme.$primary-color-50;
      border-radius: unset;
      transform: unset;
      width: unset;

    }

  }
}

.strech {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.tooltip {
  position: relative;

  &--text {
    position: absolute;
    background-color: black;
    padding: 3px;
    margin-top: 8px;
    border-radius: 4px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: 103%;
    visibility: hidden;
    text-align: center;

    &.right {
      left: 105%;
      margin-left: 4px;
      padding: 8px;
      top: -25%;
      width: max-content;
      max-width: 260px;
      text-align: left;

      &::after {
        content: "";
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: calc(50% - 9px);
      border: solid black 8px;
      border-color: transparent transparent black transparent;
    }
  }

  &:hover {
    .tooltip--text {
      visibility: visible;
    }
  }
}

@media screen and (max-width: theme.$breakpoint-sm) {

  html,
  body {
    font-size: theme.$font-size-base-mobile;
  }

  .app-section {
    margin-left: 12px;
    padding-left: 12px;

    &::before {
      transform: translate(-26px, 42px) !important;
    }

    &.end {
      margin-left: 0;

      &::before {
        transform: translate(-13px, 42px) !important;
      }
    }
  }

  .content-section {
    margin: 0 2vw;
  }
}