@use 'theme/gamification.scss' as theme;

.hero {
    min-height: 85vh;
    margin: 0 6vw;
    margin-top: 15vh;
    .pretitle {
        font-family: 'Maven Pro';
        font-weight: 600;
        font-size: 20px;
        margin-bottom: calc(-1 * theme.$font-size-base);
    }
    .title {
        margin: 0;
        color: theme.$primary-color-50;
    }
    .subtitle {
        max-width: 450px;
    }

    &Header {
        display: flex;
        justify-content: space-between;
    }

    &Main {
        .subtitle {
            margin-bottom: 32px;
        }
    }


    &Content {
        margin-top: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .results {
        display: flex;
        gap: 8px;
        align-items: center;
        .key {
            font-family: "Maven Pro";
            font-size: 60px;
        }
        &Wrapper {
            display: flex;

            & > * {
                border-left: 2px dashed #ffffff50;
                margin-left: 16px;
                padding-left: 16px;
                &:first-of-type {
                    border: none;
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .quote {
        &Wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            text-align: right;
        }

        &Text {
            font-family: "Maven Pro";
            font-weight: 600;
            font-size: 20px;
        }
        &Author {
            font-size: theme.$font-size-sm;
        }


    }
}