.policy {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00000050;
    padding: 32px;
    backdrop-filter: blur(10px);
    z-index: 100000;

    &-actions {
        margin-top: 8px;
        display: flex;
        gap: 16px;
    }

    &-content {
        margin-top: 16px;

    }
}