.tech {

    &--wrapper {
        display: flex;
        gap: 4px;
    }

    &-badge {
        position: relative;



        &--icon {
            &:hover {
                transform: translateY(-3px);
                transition: transform 0.125s ease-out;

                &>svg path {
                    fill: #7871F5
                }
            }
        }

        &--tooltip {
            visibility: hidden;
            position: absolute;
            background-color: black;
            text-align: center;
            border-radius: 4px;
            margin-top: 2px;
            padding: 3px;

            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: calc(50% - 9px);
                border: solid black 8px;
                border-color: transparent transparent black transparent;
            }
        }

        &:hover {
            .tech-badge--tooltip {
                top: 103%;
                width: 120px;
                left: 50%;
                margin-left: -60px;
                visibility: visible;
            }
        }
    }
}