.card {
    font-weight: 600;
    font-size: 24px;

    header {
        display: flex;
        align-items: center;

        .header {
            &-icon {
                height: 32px;
                width: 32px;
            }

            &-title {
                padding-left: 8px;
                flex-grow: 1;
            }

            &-toggle {
                margin-left: 8px;
                cursor: pointer;
                transition: transform 0.1s ease-in-out;

                &>div {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }

    .section-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.288);
        padding-top: 16px;
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
    }
}

.active {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
}