$primary-color-40: #AE8CFA;
$primary-color-50: #7871F5;
$secondary-color-50: #00E3AD;
$white-color: #FEFCFF;
$background-color-50: #242132;
$background-color-40: #322E47;

$font-size-base: 18px;
$font-size-base-mobile: 16px;
$font-size-h1: 3.99em;
$font-size-h2: 2.827em;
$font-size-h3: 1.999em;
$font-size-h4: 1.414em;
$font-size-sm: 0.707em;

$font-family-title: 'Maven Pro';
$font-family-base: 'LexendDeca';

$breakpoint-sm: 768px;