$primary-color-40: #AE8CFA;
$primary-color-50: #7871F5;
$white-color: #FEFCFF;
$background-color-50: #242132;
$background-color-40: #322E47;

$font-size-base: 18px;
$font-size-h1: 5em;
$font-size-h2: 3.3em;
$font-size-h3: 1.33em;
$font-size-sm: 0.77em;
